.container-fluid {
    background-image: url("green_cup.png");
    background-color: azure;  
    padding: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5px;
    background-color: brown;
    color: #fff;
    padding: 2%;
    width: 33%;
    margin: 10px;
  }
