.container-fluid {
    background-image: url("green_cup.png");
    background-color: azure;  
    padding: 10px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: brown;
    color: #fff;
    padding: 2%;
    width: 27%;
    margin: 10px;
  }

  .instructions {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    color:green;
    padding: 2%;
    margin: 10px;
  }
